.jumbotron {
  padding-bottom: 2rem;
}

.jumbotron .container{
  font-family: 'Jura', sans-serif;
  max-width: 960px;
}

.jumbotron h1 {
  font-size: 50px;
}
.jumbotron p {
  font-size: 20px;
  margin-top: 25px;
}

.container {
  font-family: 'Cairo', sans-serif;
}

.container.main {
  max-width: 800px;
  font-size: 18px;
}

.clickable {
  color: #007bff;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

form.questions {
  display: none;
}

input {
  display: inline-block;
  margin: 6px;
}

.results > div {
  display: none;
  overflow: auto;
}

.logo {
  width: 30%;
  max-width: 250px;
  float: left;
  margin-right: 5%;
}

.logo img {
  max-width: 250px;
  width: 100%;
}

.attribution {
  text-align: right;
  font-size: 10px;
}

.description {
  width: 60%;
  float: left;
  margin-left: 5%;
  padding-top: 20px;
}

@media screen and (max-width: 550px) {
  .jumbotron {
    padding-bottom: 15px;
  }
  .jumbotron h1 {
    font-size: 30px;
  }

  .jumbotron p {
     font-size: 18px;
     margin-top: 12px;
     margin-bottom: 5px;
  }
}
