.container {
  font-family: 'Cairo', sans-serif;
}

.jumbotron {
  padding-bottom: 2rem;
}

.jumbotron .container{
  font-family: 'Jura', sans-serif;
  max-width: 960px;
}

.jumbotron p {
  margin-top: 25px;
}

.container.main {
  max-width: 800px;
}

.clickable {
  color: #007bff;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

form#questions > div {
  display: none;
}

.results > div {
  display: none;
  overflow: auto;
}

.logo {
  width: 30%;
  max-width: 250px;
  float: left;
  margin-right: 5%;
}

.logo img {
  max-width: 250px;
  width: 100%;
}

.attribution {
  text-align: right;
  font-size: 10px;
}

.description {
  width: 60%;
  float: left;
  margin-left: 5%;
  padding-top: 20px;
}
